<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="file" xsi:type="File" keepFileOpen="false" createDirs="true"
                fileName="${basedir}/logs/${shortdate}.txt"
                layout="${date:format=hh:mm:ss.fff}|${level}|${threadid}|${message}" />
        <target name="debug" xsi:type="Debugger"
                layout="${date:format=hh:mm:ss.fff}|${level}|${threadid}|${callsite}|${message}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="file" />
        <logger name="*" minlevel="Trace" writeTo="debug" />
    </rules>  
</nlog>
